body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover ;
    background-image:url("https://static.vecteezy.com/ti/vetor-gratis/p3/3503136-bolo-de-aniversario-seamless-pattern-background-vector-illustration-gratis-vetor.jpg");
    background-repeat: no-repeat;
    
  }

  header, footer {
    background-color: #ff9c3a;
    color: #000000;
    text-align: center;
    padding: 20px 0;
    font-size: 25px;

  }
  nav ul {
    list-style-type: none;
    padding:0,
  
  }
  nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 25px;

  }
  nav ul li a {
    text-decoration:none;
    color: #ffffff;
  margin:auto
  }
  main {
    padding: 20px;
  }
  .hero {
    background-color: #f3ff4b9a;
    padding: 40px;
    text-align: center;
  }
  .recipes {
    list-style-type: none;
    padding: 0;
    background-color: rgba(62, 79, 153, 0.415);
  }
  .recipes li {
    margin-bottom: 10px;
    background-color: rgb(94, 250, 255);
    font-size: 30px;
    text-align: center;

  }
  .recipes li a {
text-decoration: none;
color: #694545;
  }
  img {
    max-width: 500%;
    height: 300px;
    border-radius: 50px 50px;
  }
h1{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: rgba(255, 38, 0, 0.207);
text-align: center;
text-shadow: #e5bf94 4px 1px;


}
h2{
color: rgb(0, 0, 0);
text-shadow: #f49f029f 4px 2px ;
font-size: 48px;
}
button{
 background-image: linear-gradient(rgb(247, 180, 10),rgba(226, 209, 56, 0.56), rgb(225, 150, 44));
 border-radius: 100% 100% 90% 100%;
 width: 150px; 
 height: 70px;
 box-shadow: 6px 5px 8px rgb(155, 88, 47); 
font-family: cursive;
 font-size: 20px;
 background-image: url("https://www.bing.com/th/id/OGC.09e71f7458a0b53edf7d884eb97b6fbc?pid=1.7&rurl=https%3a%2f%2fmedia1.tenor.com%2fimages%2f09e71f7458a0b53edf7d884eb97b6fbc%2ftenor.gif%3fitemid%3d4931308&ehk=mvl1UBp8I0Ak4b6zviC2wiG8CVGvqOK3dx5N83n3ei8%3d");
background-size: cover;

}
p{
  font-size: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card_image {
  height: calc(13*1.2rem);
  padding: 1.2rem 1.2rem 0;
  position:relative;
  background-image: url("https://img1.picmix.com/output/stamp/normal/6/2/0/9/1319026_a6930.gif");
}
.card_image:before,
.card_image:after{
  content: "";
  position: absolute;
  width: 20px;
  left: 60%;
  top: 0;
  height: 45px;
  background: #e6e6e6b8;
  transform: rotate(45deg);
}
.card_image:after{
  transform: rotate(-45deg);
  top:auto;
  bottom:-22px;
  left:40%;
}
.card_image img {
  width:100%;
  height:100%;
  object-fit:cover;
 
}

.cards_item {
  filter:drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(red 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  -webkit-mask:radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem;
}

.card_content {
  padding: 1.2rem;
}

h2.card_title,p {
  margin: 1.2rem 0;
}
h2.card_title {
    font-size: 1.3em;
}


html {
  font-size:20px;
}

/* CSS */
.button-89 {
  --b: 4px;   /* border thickness  */
  --s: .50em; /* size of the corner */
  --color: #430096;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#00ffe1 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .19s linear, color 0s, background-color 0s;
  outline: var(--b) solid #1500ff97;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #ffe431;
}

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "container";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34,50,84,0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: #4285f4;
}

#cbx:checked + .check svg {
  stroke: #4285f4;
}

#cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}



ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}





























