/* Estilos gerais */
body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://static.vecteezy.com/system/resources/previews/012/687/694/non_2x/cute-doodle-cake-seamless-pattern-vector.jpg");
    background-size: cover;
    background-position: center;
}

/* Estilos para a tela de login */
.login-container {
    background-color: rgba(118, 115, 48, 0.194); /* Cor de fundo com opacidade */
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(248, 163, 5);
    padding: 40px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #fffaf3;
    background-color: #533201b9;
    border-radius: 50% 50% 50% 50%;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #874c00;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255); /* Cor de fundo com opacidade */
}

.login-form button {
    background-color: #764700;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #bd7d06;
}

.links {
    margin-top: 10px;
}

.links a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}

.links a:hover {
    color: #c60000;
}

/* Estilos para os botões das redes sociais */
.social-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #cf9400ac;
    color: #ffffff;
    border: 1px solid #583a06;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.social-buttons a:hover {
    background-color: #c5a53e;
}

.social-buttons a::before {
    content: '';
    position: absolute;
    top: 6%;
    left: 4%;
    width: 90%;
    height: 90%;
    background: radial-gradient(circle, rgba(201, 117, 0, 0.245) 0%, rgba(253, 240, 0, 0.484) 80%);
    opacity: 0;
    border-radius: 50%;
    transition: opacity 0.3s ease;
}

.social-buttons a:hover::before {
    opacity: 1;
}

/* Estilos específicos para cada botão de rede social */
.google-btn {
    color: #ffea0600;
    border-color: #fbff0100;
}

.facebook-btn {
    color: #09b34d00;
    border-color: #81052e00;
}

.twitter-btn {
    color: #04c67c00;
    border-color: #4ce40000;
}

/* Estilos para o círculo pulsante */
.circle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #ff5e009e;
    box-shadow: 0 0 0 0 rgba(255, 137, 3, 0.518);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        box-shadow: 0 0 0 0 rgba(255, 149, 10, 0.503);
    }
    50% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 191, 63, 0.643);
    }
    100% {
        transform: scale(0.8);
        box-shadow: 0 0 0 0 rgba(250, 112, 0, 0.545);
    }
}

